.hr {
    margin-bottom: 20px;
    margin-top: 20px;
}
.space li{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    color: black;
    text-align: center;

}
.space {
text-align: center;
}