.section-title {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.post {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.img-thumb {
    width: 200px;
    height: 150px;
    margin-right: 30px;
}

.img-thumb img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-top: -20px;
    /* margin-right: 10px; */
}

.content {
    flex: 1;
}

.content p.title {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin-bottom: 16px;
}
.content p.title:hover{
    cursor: pointer;
    color: black;
}

.content p.desc {
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}
.rowbtn{
    margin-top: 5px;
}
.remove {
    height: 35px;
    width: 100px;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    border: none;
}
.update{
    height: 35px;
    width: 100px;
    background-color:blue;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.remove:hover {
    cursor: pointer;
}
.form-add-post{
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
width: 500px;
margin-left: 5px;
padding: 10px;
margin-bottom: 50px;
border-radius: 4px;
}
.form-add-post label{
    display: block;
    font-size: 14px;
    color: royalblue;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-add-post input, .form-add-post textarea{
    outline: none;
    border: 1px solid green;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: grey;
}
button.btn-submit{
    outline: none;
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 4px;
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    /* 3.25 */
}
